other/__pycache__/audio_engine.cpython-311.pyc
other/__pycache__/card.cpython-311.pyc
other/__pycache__/kanji_table.cpython-311.pyc
other/__pycache__/kanji.cpython-311.pyc
other/__pycache__/word.cpython-311.pyc
styles/__pycache__/s_learn_kanji.cpython-311.pyc
styles/__pycache__/s_vocabulary.cpython-311.pyc
styles/__pycache__/s_welcome.cpython-311.pyc
views/__pycache__/learn_kanji.cpython-311.pyc
views/__pycache__/router.cpython-311.pyc
views/__pycache__/vocabulary.cpython-311.pyc
views/__pycache__/welcome.cpython-311.pyc
